* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

html, body {
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3e8b9e;
  font-family: Arial, Helvetica, sans-serif; }

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url(../images/background-image.png) center center no-repeat;
  background-size: contain;
  position: relative; }

.header {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1; }
  .header .logo {
    position: absolute;
    left: 395px;
    width: 124px;
    height: 81px;
    margin-right: 50px; }
  .header .company_name {
    position: absolute;
    left: 600px;
    top: 20px;
    text-align: right;
    letter-spacing: 2px; }
    .header .company_name h1 {
      margin-bottom: 10px; }

.container {
  width: 1428px;
  height: 966px;
  background: url(../images/stage.png) center center no-repeat;
  position: relative; }

.main {
  width: 714px;
  height: 400px;
  position: absolute;
  left: 324px;
  top: 390px; }
  .main img {
    border-radius: 3px; }

.aside_l {
  width: 170px;
  height: 170px;
  position: absolute;
  left: 50px;
  top: 400px; }
  .aside_l .slider {
    width: 170px;
    height: 170px;
    overflow: hidden;
    text-align: center; }
    .aside_l .slider img {
      display: inline-block;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-25%);
      -ms-transform: translate(-25%);
      transform: translate(-25%); }

.aside_r {
  position: absolute;
  right: 50px;
  top: 400px;
  width: 274px;
  height: 353px;
  background: url(../images/acr-image.png) center center no-repeat;
  background-size: contain; }
  .aside_r ul {
    padding: 30px; }
  .aside_r li {
    line-height: 1.6; }
    .aside_r li em._icon {
      display: block;
      width: 57px;
      height: 21px; }
      .aside_r li em._icon.email {
        background: url(../images/email.png); }
      .aside_r li em._icon.tel {
        background: url(../images/tel.png); }
      .aside_r li em._icon.fax {
        background: url(../images/fax.png); }
      .aside_r li em._icon.add {
        background: url(../images/add.png); }
